doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../scss/main.css")
        title Document
    body
        section.stn.container
            div.stn__div
                div.stn__div--box
                    h2.stn__div--box--h2 My projects <br> <span> Image from 
                        a.ahref(href="Freepik") Freepik 
                div.stn__div--box-second
                    h1.stn__div--box-second--h1 Image from I'm designed dozens of <br>appealing interfaces for <br>websites and web apps. Take a <br>look at my projects below.
                div.stn__div--box
                    button.stn__div--box__btn.id Bё Behance
                    button.stn__div--box__btn Dribbble
            div.stn__div-second
                div.stn__div-second__box
                    img(src="https://images01.nicepagecdn.com/thumbs/a1389d7bc73adea1e1c1fb7e/f0df7c5c1c8f54ffa0f8cddf/color-logo-1_150.png", alt="")
                div.stn__div-second__box
                    img(src="https://images01.nicepagecdn.com/thumbs/a1389d7bc73adea1e1c1fb7e/e2c0998b438052c1b322a6af/color-logo-2_150.png", alt="")
                div.stn__div-second__box
                    img(src="https://images01.nicepagecdn.com/thumbs/a1389d7bc73adea1e1c1fb7e/e501c596f66b5ee79b62a78e/color-logo-3_150.png", alt="")
                div.stn__div-second__box
                    img(src="https://images01.nicepagecdn.com/thumbs/a1389d7bc73adea1e1c1fb7e/6903cd62f0065b73b81bc61e/color-logo-4_150.png", alt="")
                div.stn__div-second__box
                    img(src="https://images01.nicepagecdn.com/thumbs/a1389d7bc73adea1e1c1fb7e/98ebd4180853557da9440b2c/color-logo-5_150.png", alt="")
                div.stn__div-second__box
                    img(src="https://images01.nicepagecdn.com/thumbs/a1389d7bc73adea1e1c1fb7e/e86418a323a35e2abcaab2e4/color-logo-6_150.png", alt="")